#about-page{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    color: var(--dark-color);
}
.github-link-btn {
    font-family: inherit;
    margin: auto;
    height: 100px;
    max-height: 20vh;
    width: 300px;
    max-width: 100%;
    background-color: var(--blue-color);
    color: var(--dark-color);
    font-size: 100%;
}
#about-page>p {
    font-size: 66%;
}
ul {
    text-align:left;
}
#about-header{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow:contain;
}
img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
#about-header{
    flex-direction: row;
}
}
