:root {
  --bg-color:        #f3efd7;
  --nav-color:       #ffe66d;
  --nav-light-color: #ffefa2;
  --dark-color:      #292f36;
  --dark-color:      #292f36;
  --blue-color:      #4edcd4;
  --red-color:       #ff6b6b;
}

a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    font-size: 200%;
    background-color: var(--bg-color);
}

i {
    font-style: normal;
}

#home {
    grid-area: body;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
}
#homepage-image {
    max-width: 100%;
    max-height: 100%;
}

#main-container {
    height: 100vh;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 10% 90%;
    grid-auto-rows: auto;
    text-align:center;
    grid-template-areas: "nav"
                         "body"

}
.nav {
    grid-area: nav;
    /*position: fixed;*/
    background-color: var(--nav-color);
    height: 70px;
}
.header {
    grid-area: header;
}
.fa {
    margin: auto;
    height: 40px;
}


@media screen and (min-width: 768px) {
    #main-container{
    grid-template-columns: 260px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "fixed-nav nav"
                         "fixed-nav body"
                     }
}
