:root {
    /* Taken from: */
  --bg-color:        #f3efd7;
  --nav-color:       #ffe66d;
  --nav-light-color: #ffefa2;
  --dark-color:      #292f36;
  --dark-color:      #292f36;
  --blue-color:      #4edcd4;
  --red-color:       #ff6b6b;
  --dark-red-color:  rgb(255, 107, 107);
}

a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    font-size: 200%;
    background-color: var(--bg-color);
}

i {
    font-style: normal;
}

#home {
    grid-area: body;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
}
#homepage-image {
    width: 100%;
    height: 100%;
    background-image:url('../statics/img/practicebuddy_logo.png');
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
}

.nav {
    grid-area: nav;
    /*position: fixed;*/
    background-color: var(--nav-color);
    height: 70px;
}
.header {
    grid-area: header;
}
.fa {
    margin: auto;
    height: 40px;
}


.not-ready{
    grid-area: body;
}

#modes-page,
#chords-page,
#about-page,
#charts-page {
    background-color: var(--bg-color);
    grid-area: body;
}

