.note-grid{
    display:grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 150%;
    grid-auto-rows: auto;
    height:100%;
    text-align:center;
    width:66vw;
}
.note-cell {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.interval-cell {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
