.note-grid{
    display:grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 150%;
    grid-auto-rows: auto;
    height:100%;
    text-align:center;
    width:100%;
    max-width:95vw;

}
.note-cell,
.interval-cell {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    padding: 0px 3px;
}
.note-cell {
    align-items: flex-start;
}
.interval-cell {
    align-items: flex-end;
}

.flat-sharp {
    font-size: 66%;
    margin-top: -40%;
    position:relative;
    bottom: 10px;
}
